<h1>Heroes de todos colores y sabores</h1>
<hr>
    <div class="card-columns">
        <div class="card" *ngFor="let item of heroes">          
            <img src="{{item.img}}" class="card-img-top" alt="{{item.nombre}}">
            <div class="card-body">
              <h5 class="card-title">{{item.nombre}}</h5>
              <p class="card-text">{{item.bio}}</p>
              <p class="card-text"><small class="text-muted">Aparición: {{item.aparicion}}</small></p>
              <button class="btn-block btn-primary">Ver más</button>
            </div>
          </div>
    </div>