<h1>Buscando: {{termino | uppercase}}</h1>
<div class="container animated fadeIn fast">
  <div class="row" *ngIf="heroe.length == 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No existen resultados con el termino
      </div>
    </div>
  </div>
    <div class="card-columns">
        <div class="card animated fadeIn" *ngFor="let item of heroe; let i = index">          
            <img src="{{item.img}}" class="card-img-top" alt="{{item.nombre}}">
            <div class="card-body">
              <h5 class="card-title">{{item.nombre}}</h5>
              <p class="card-text">{{item.bio}}</p>
              <p class="card-text"><small class="text-muted">Aparición: {{item.aparicion}}</small></p>              
              <!--<a class="btn btn-outline-danger" routerLink='/heroe/{{i}}' >Ver más de {{item.nombre}}...</a>-->
            </div>
          </div>
    </div>
</div>